.home__section-bot {
  width: 100%;
  min-height: 30vh;
  display: grid;
  justify-items: center;
  grid-template:
    "yo yo"   1fr 
    "card card" 
    "desk desk"
    "card2 card2 "
    / 1fr 0.75fr;
  gap: 2rem;
}

.home__img {
  width: clamp(18rem, 100%, 500rem);
  object-fit: cover;
  border-radius: 1rem;
}

.home__card {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--veryBlack);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.home__card header {
  margin: 1.5rem 0 1rem;
}
 .home__parrafo {
  font-size: 1.8em;
} 
.home__img{
  height: 100%;
}
.home__img:nth-child(1) {
  grid-area: yo;
}
.home__img:nth-child(3) {
  grid-area: desk;
}
.home__card:nth-child(2) {
  grid-area: card;
}
.home__card:nth-child(4) {
  grid-area: card2;
}

@media (min-width: 600px) {
  .home__section-bot {
    grid-template:
      "card  desk" auto
      "yo desk" 1fr 
      "yo card2" auto / 1fr .9fr;
    gap: 4rem;
  }
}
