.home__section-bot {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 2rem;
}
.home__wrapper-img {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--veryBlack);
  border-radius: 2rem;
}
.home__img {
  max-width: 100%;
  max-height: 400px;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 5px 12px 10px);
  object-fit: cover;
  position: relative;
  z-index: 1;
  justify-self: center;
  align-self: center;
  mask-image: linear-gradient(black 95%, transparent);
  animation: up-down-infiniti  linear infinite 3s;
  
 }
 
.svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}
.home__card {
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: var(--veryBlack);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 12px 10px;
}

.home__parrafo {
  font-size: 2em;
  margin-top: auto;
}

@media (min-width: 600px) {
  .home__section-bot {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 600px) {
  .home__section-bot {
    gap: 4rem;
  }
}

@keyframes up-down-infiniti {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
