
.about__article {
  padding: 2rem;
  border: 1px solid var(--tobacco-brown-300);
  border-radius: 0.5rem;
}
.about__content {
  position: relative;
}
.about__subtitle {
  position: absolute;
  top: -3.5rem;
  background-color: #1d1e1f;
  padding: 0 2rem;
  width: fit-content;
}
