.LayoutPorfolio {
  width: clamp(275px, 100vw, calc(1220px - 4rem));
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 2rem;
}

.main {
  display: grid;
}
/* title page */
main h1 {
  text-align: center;
}

@media (min-width: 765px) {
  .LayoutPorfolio {
    padding: 0 4rem;
  }
  main h1 {
    text-align: initial;
  }
}
