.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card__header {
  position: absolute;
  top: -2rem;
  padding: 0 2rem;
}
.card__title {
  text-transform: capitalize;
}
.card__img {
  width: clamp(60px, 100%, 100px);
  object-fit: cover;
}
