.cardSkill {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  /* align-items: center; */
  border-radius: 1rem;
  background-color: var(--veryBlack);
  box-shadow: rgba(0, 0, 0, 0.24) 5px 12px 10px;
}

.cardSkill__title {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.cardSkill__img {
  width: clamp(60px, 100%, 100px);
  object-fit: cover;
  transition: all 200ms;
  margin: 0 auto;
}
.cardSkill:hover .cardSkill__img {
  transform: scale(1.1);
  filter: blur(2px);
}
