.cardSkill {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--veryBlack);
}

.cardSkill__title {
  text-transform: capitalize;
}
.cardSkill__img {
  width: clamp(60px, 100%, 100px);
  object-fit: cover;
  transition:  all 200ms;
}
.cardSkill:hover .cardSkill__img {
  transform: scale(1.1);
  filter: blur(2px);
}
