.contact {
  display: grid;
  grid-template-rows: 1fr 10px 1fr;
  gap: 3rem;
}
.contact__article {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--veryBlack);
  display: flex;
  flex-direction: column;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
}
.contanc__link {
  border-radius: 0.5rem;
  border: 1px solid var(--tobacco-brown-400);
  padding: 2rem;
  height: 6rem;
}

.contact__hr {
  width: 80%;
  height: 3px;
  margin: auto;
  background-color: var(--white);
}

.contact__label {
  position: relative;
  font-size: 2rem;
  top: 1.5rem;
  left: 3rem;
  background-color: var(--veryBlack);
  color: var(--white);
  padding: 0 2rem;
  width: fit-content;
}
.contact__input {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--tobacco-brown-400);
  padding: 2rem;
  height: 6rem;
}
.textarea{
    height: 10rem;
}
@media (min-width: 750px) {
  .contact {
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr;
  }
  .contact__hr {
    width: 3px;
    height: 80%;
  }
}
