.contact {
  display: grid;
  grid-template:
    "formulario" auto
    "divisor" 10px
    "social" 1fr;
  gap: 3rem;
}
.contact__article {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--veryBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.contact__article:nth-child(1) {
  grid-area: social;
}
.contact__article:nth-child(2) {
  grid-area: formulario;
}
.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin: 1rem 0;
  height: 100%;
}
.contact__button{
  margin: 3rem auto  0 auto ;

}
.contanc__link {
  border-radius: 0.5rem;
  border: 1px solid var(--tobacco-brown-400);
  padding: 1rem 1.5rem ;
}
.contact__icon{
  height: 3rem;
  width: 3rem;
}
.contact__hr {
  width: 80%;
  height: 3px;
  margin: auto;
  background-color: var(--tobacco-brown-400);
  grid-area: divisor;
}

.contact__label {
  position: relative;
  font-size: 2rem;
  top: 1.5rem;
  left: 3rem;
  background-color: var(--veryBlack);
  color: var(--white);
  padding: 0 2rem;
  width: fit-content;
}
.contact__input {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--tobacco-brown-400);
  padding: 2rem;
  height: 6rem;
}
.textarea {
  height: 10rem;
}


@media (min-width: 765px) {
  .contact {
    grid-template: "social divisor formulario" / 30% 40px 1fr;
    grid-template-rows: 1fr;
  }
  .contact__hr {
    width: 3px;
    height: 80%;
  }
  .contact__wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
}
