.about__article {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--veryBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
}

.about__button {
  width: 100%;
  margin-top: 2.5rem ;
}
.about__conteiner {
  display: none;
}

.active {
  display: block;
}
