.about__article {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--veryBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:  rgba(0, 0, 0, 0.24) 5px 12px 10px;
  height: fit-content;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
}

.about__button {
  width: 100%;
}
.about__conteiner {
  display: none;
}

.active {
  display: block;
}
