.about__section {
  padding: 2rem;
  background-color: #1d1e1f;
  border-radius: 0.5rem;
}
.about__title {
  margin: 0 0 2rem 0;
}
.about__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
