.redirectButton {
  background-color: var(--tobacco-brown-400);
  color: var(--tobacco-brown-950);
  font-weight: 300;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 200ms;
  justify-self: end;
}

.redirectButton:hover {
  background-color: var(--tobacco-brown-300);
  color: var(--tobacco-brown-950);
}

.redirectButton:active {
  background-color: var(--tobacco-brown-500);
  color: var(--tobacco-brown-950);
}

.redirectButton:disabled {
  background-color: var(--tobacco-brown-800);
  color: var(--tobacco-brown-100);
}
