/* header top */
.header {
  display: grid;
  grid-template: "logo  hamburger";
  width: 100%;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--veryBlack);
  box-shadow: rgba(0, 0, 0, 0.24) 5px 12px 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  scroll-margin-top: 100px;
  transition: all 0.3s ease-in;
}
.header__link {
  grid-area: logo;
  width: fit-content;
}
.header__link img {
  height: 5rem;
}
.header__nav {
  display: none;
  grid-area: hamburger;
}
.navBar {
  display: grid;
  grid-template-rows: auto 1fr;
  position: absolute;
  top: 5.5rem;
  right: -2em;
  width: clamp(200px, 40vw, 300px);
  height: clamp(10rem, 50vh, 25rem);
  z-index: 2;
  animation: animeNav 0.5s ease 0s 1 normal none;
  transition: all 500ms ;
}
.navBar__button {
  margin: 1rem;
  justify-self: end;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: var(--veryBlack);
}
.navlink {
  font-size: 1.5rem;
  transition: all 200ms;
}
.navlink:hover {
  color: var(--tobacco-brown-200);
  filter: drop-shadow(0px 0px 16px #d7cfb2);
}
.isActive {
  border-bottom: 3px solid var(--tobacco-brown-400);
  /* transition: all 300ms; */
}

.header > .header__button {
  display: none;
}
.hr {
  width: 50%;
  height: 2px;
  background-color: #fff;
}

.navBar__hamburger {
  height: 3rem;
  width: 3rem;
}
.navBar__hamburger--rotate {
  transform: rotate(45deg);
}

.disable {
  display: none;
}
.isSticky {
  background-color: var(--veryBlack);
  background-color: rgba(29, 30, 31, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  top: -73px;
}

@media (min-width: 765px) {
  .header {
    grid-template: "logo hamburger contact" / 1fr 3fr 1fr;
  }
  .header__ul {
    display: flex;
  }
  .header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .navBar {
    position: static;
    right: 0;
    animation: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    background-color: transparent;
  }
  .navbar-links > .header__button {
    display: none;
  }
  .header__button {
    justify-self: end;
  }

  .hr {
    display: none;
  }
  .navBar__button {
    display: none;
  }
  .header > .header__button {
    display: block;
  }
  .isSticky{
    top: 0;
  }
}

@keyframes animeNav {
  0% {
    opacity: 0;
    transform: rotateY(70deg);
    transform-origin: right;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}