:root {
  font-size: 62.5%;

  --white: #fffef0;
  --black: #212223;
  --veryBlack: #1d1e1f;
  --brown: #765b41;
  --gray: #dbdac5;
  --yellow: #ff9800;
  /* font-family: 'Kanit', sans-serif; */

  --tobacco-brown-50: #f5f4ef;
  --tobacco-brown-100: #eae6d7;
  --tobacco-brown-200: #d7cfb2;
  --tobacco-brown-300: #c0b087;
  --tobacco-brown-400: #ac9662;
  --tobacco-brown-500: #9c8354;
  --tobacco-brown-600: #856b47;
  /* --tobacco-brown-700: #765b41; */
  --tobacco-brown-800: #33271f;
  --tobacco-brown-900: #291f19;
  --tobacco-brown-950: #2d211b;
}
html {
  background-image: radial-gradient(circle, #06080a, #0d0f10, #131415, #171819, #1b1c1d, #1b1c1d, #1b1c1d, #1b1c1d, #171819, #131415, #0d0f10, #06080a);
  background-position: center center;
  background-attachment: fixed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--tobacco-brown-100);
  font-family: "Kanit", sans-serif;
}

body {
  scroll-behavior: smooth;
  min-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--tobacco-brown-300);
}
h2 {
  font-size: 3.5rem;
  margin: 0;
  font-weight: 700;
  color: var(--tobacco-brown-50);
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--tobacco-brown-50);
}
h4,
a,
button {
  font-size: 1.6rem;
}

h5,
p {
  font-size: 1.5rem;
  font-weight: 300;
  text-wrap: balance;
}

li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  width: fit-content;
}
button {
  width: fit-content;
  background-color: inherit;
  border: 0;
}
